altgraph==0.17.4
audioop-lts==0.2.2
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
idna==3.10
macholib==1.16.3
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pillow==11.3.0
PyAudio==0.2.14
pycparser==2.22
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
requests==2.32.5
setuptools==80.9.0
SpeechRecognition==3.14.3
srt==3.5.3
standard-aifc==3.13.0
standard-chunk==3.13.0
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.5.0
vosk==0.3.44
websockets==15.0.1
